In [1]:
# Import
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from pycaret.regression import *

data = pd.read_csv(
    "https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv"
)

In [2]:
data

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,1565930130,20141104T000000,4,3.25,3760,4675,2.0,0,0,3,...,2740,1020,2007,0,98038,47.3862,-122.048,3280,4033,429900.0
1,3279000420,20150115T000000,3,1.75,1460,7800,1.0,0,0,2,...,1040,420,1979,0,98023,47.3035,-122.382,1310,7865,233000.0
2,194000575,20141014T000000,4,1.00,1340,5800,1.5,0,2,3,...,1340,0,1914,0,98116,47.5658,-122.389,1900,5800,455000.0
3,2115510160,20141208T000000,3,1.75,1440,8050,1.0,0,0,3,...,1440,0,1985,0,98023,47.3187,-122.390,1790,7488,258950.0
4,7522500005,20140815T000000,2,1.50,1780,4750,1.0,0,0,4,...,1080,700,1947,0,98117,47.6859,-122.395,1690,5962,555000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,5272200045,20141113T000000,3,1.50,1000,6914,1.0,0,0,3,...,1000,0,1947,0,98125,47.7144,-122.319,1000,6947,378000.0
19996,9578500790,20141111T000000,3,2.50,3087,5002,2.0,0,0,3,...,3087,0,2014,0,98023,47.2974,-122.349,2927,5183,399950.0
19997,7202350480,20140930T000000,3,2.50,2120,4780,2.0,0,0,3,...,2120,0,2004,0,98053,47.6810,-122.032,1690,2650,575000.0
19998,1723049033,20140620T000000,1,0.75,380,15000,1.0,0,0,3,...,380,0,1963,0,98168,47.4810,-122.323,1170,15000,245000.0
19999,6147650280,20150325T000000,4,2.50,3130,5999,2.0,0,0,3,...,3130,0,2006,0,98042,47.3837,-122.099,3020,5997,315000.0

In [3]:
def transform_date(date_str):
    return pd.to_datetime(date_str, format="%Y%m%dT%H%M%S")


# Apply the transformation to all date columns
for column in data.columns:
    if "date" in column.lower():  # Assuming date columns have 'date' in their name
        data[column] = data[column].apply(transform_date)

In [6]:
setup = setup(data, target="price")

In [7]:
# best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .           12:27:35
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Compiling Library

In [8]:
best

LGBMRegressor(n_jobs=-1, random_state=7844)

In [1]:
evaluate_model("xgboost")

NameError: name 'evaluate_model' is not defined

In [ ]:
'lat', 'long', 'sqft_living', 'sqft_above', 'yr_built', 'sqft_lot', 'sqft_basement', 'sqft_living15', 'zipcode', 'grade'