In [22]:
# Importing
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from lightgbm import LGBMRegressor
import numpy as np

pd.set_option("display.max_columns", None)


df = pd.read_csv(
    "https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv"
)

crime_rate = pd.read_csv("./crime_rate.csv")

In [23]:
# Add crime rates from nearest city
df = pd.merge(df, crime_rate, on="zipcode", how="left")

In [24]:
df

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price,property_crime_rate_closest_city,violent_crime_rate_closest_city,school_district,school_rank
0,1565930130,20141104T000000,4,3.25,3760,4675,2.0,0,0,3,8,2740,1020,2007,0,98038,47.3862,-122.048,3280,4033,429900.0,1732.6,89.4,Tahoma School District,2
1,3279000420,20150115T000000,3,1.75,1460,7800,1.0,0,0,2,7,1040,420,1979,0,98023,47.3035,-122.382,1310,7865,233000.0,5407.5,389.7,Federal Way School District,6
2,194000575,20141014T000000,4,1.00,1340,5800,1.5,0,2,3,7,1340,0,1914,0,98116,47.5658,-122.389,1900,5800,455000.0,5522.0,598.7,Seattle Public Schools,3
3,2115510160,20141208T000000,3,1.75,1440,8050,1.0,0,0,3,8,1440,0,1985,0,98023,47.3187,-122.390,1790,7488,258950.0,5407.5,389.7,Federal Way School District,6
4,7522500005,20140815T000000,2,1.50,1780,4750,1.0,0,0,4,7,1080,700,1947,0,98117,47.6859,-122.395,1690,5962,555000.0,5522.0,598.7,Seattle Public Schools,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,5272200045,20141113T000000,3,1.50,1000,6914,1.0,0,0,3,7,1000,0,1947,0,98125,47.7144,-122.319,1000,6947,378000.0,2221.1,60.0,Seattle Public Schools,3
19996,9578500790,20141111T000000,3,2.50,3087,5002,2.0,0,0,3,8,3087,0,2014,0,98023,47.2974,-122.349,2927,5183,399950.0,5407.5,389.7,Federal Way School District,6
19997,7202350480,20140930T000000,3,2.50,2120,4780,2.0,0,0,3,7,2120,0,2004,0,98053,47.6810,-122.032,1690,2650,575000.0,2966.5,105.7,Lake Washington School District,1
19998,1723049033,20140620T000000,1,0.75,380,15000,1.0,0,0,3,5,380,0,1963,0,98168,47.4810,-122.323,1170,15000,245000.0,16583.8,750.6,Tukwila School District,6
19999,6147650280,20150325T000000,4,2.50,3130,5999,2.0,0,0,3,7,3130,0,2006,0,98042,47.3837,-122.099,3020,5997,315000.0,3583.9,133.1,Kent School District,5

In [25]:
def data_transform(df):

    df =df.drop('school_district', axis=1)

    # Convert 'date' to datetime and extract year and month

    df["date"] = pd.to_datetime(df["date"])

    df["year_of_sale"] = df["date"].dt.year
    df["month_of_sale"] = df["date"].dt.month


    df.drop("date", axis=1, inplace=True)  # Drop the original date column


    # Add age of house


    df["age"] = 2015 - df["yr_built"]


    # Add binary has basement column


    df["has_basement"] = (df["sqft_basement"] > 0).astype(int)

    return df

In [26]:
df = data_transform(df)

In [27]:
X = df.drop("price", axis=1)
y = df[["price"]]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=6)

In [28]:
model = LGBMRegressor()



model.fit(X_train, y_train)

predictions = model.predict(X_test)


# Calculate RMSE
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)

r2 = r2_score(y_test, predictions)

print(f"\n\nRMSE: {rmse}")
print(f"\n\nR^2: {r2}")

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001473 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2789
[LightGBM] [Info] Number of data points in the train set: 14000, number of used features: 26
[LightGBM] [Info] Start training from score 540430.358286

RMSE: 124883.71319250014


R^2: 0.8813910424655631

In [29]:
mini = pd.read_csv(
    "https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing_holdout_test_mini.csv"
)


mini = pd.merge(mini, crime_rate, on="zipcode", how="left")
mini

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,property_crime_rate_closest_city,violent_crime_rate_closest_city,school_district,school_rank
0,930000305,20141110T000000,4,1.75,2120,7680,1.0,0,0,4,7,1060,1060,1950,0,98177,47.7172,-122.361,1530,7680,2418.7,132.9,Shoreline School District,2
1,9541600015,20150211T000000,4,2.25,2010,15375,1.0,0,0,4,8,2010,0,1957,0,98005,47.5956,-122.174,1930,15375,3126.4,109.7,Bellevue School District,1
2,7338000150,20150129T000000,2,1.00,1070,4200,1.0,0,0,4,6,1070,0,1983,0,98002,47.3336,-122.215,1150,4200,5435.5,408.1,Auburn School District,4
3,6113400046,20140723T000000,4,2.50,1890,15770,2.0,0,0,4,7,1890,0,1968,0,98166,47.4281,-122.343,2410,15256,4727.7,392.5,Highline School District,7
4,291310170,20140804T000000,3,2.50,1600,2610,2.0,0,0,3,8,1600,0,2005,0,98027,47.5344,-122.068,1445,1288,3091.5,28.6,Issaquah School District,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,8902000267,20150402T000000,4,2.75,2260,7209,1.0,0,3,3,7,1330,930,2002,0,98125,47.7088,-122.302,1790,10860,2221.1,60.0,Seattle Public Schools,3
77,7856550240,20140710T000000,5,2.25,3480,9200,2.0,0,0,3,8,3480,0,1979,0,98006,47.5585,-122.153,3130,9200,2321.9,17.5,Bellevue School District,1
78,7923500060,20140922T000000,5,2.75,2580,9242,2.0,0,2,4,8,1720,860,1967,0,98007,47.5943,-122.133,2240,9316,3126.4,109.7,Bellevue School District,1
79,8898700880,20150317T000000,2,2.00,1590,8000,1.0,0,0,3,7,910,680,1984,0,98055,47.4590,-122.205,1590,8364,5794.1,300.0,Renton School District,5
80,8123500050,20140624T000000,5,2.75,2730,22572,1.0,0,0,3,7,2080,650,1968,1992,98075,47.5951,-122.037,2260,15458,748.6,22.9,Issaquah School District,1

In [30]:
mini = data_transform(mini)

# missing_columns = [
#     "school_district_Enumclaw_School_District",
#     "school_district_Tahoma_School_District",
#     "school_district_Tukwila_School_District",
#     "school_district_Vashon_Island_School_District",
# ]

# for column in missing_columns:
#     mini[column] = 0

In [31]:
predictions = model.predict(mini)
df = pd.DataFrame(predictions)
df.to_csv("team3-module3-predictions.csv", index=False, header=["price"])