In [38]:
# Import
import pandas as pd

pd.set_option("display.max_columns", None)

spam_dataset1 = pd.read_csv("./email-spam-dataset.csv", encoding="latin1")
spam_dataset2 = pd.read_csv("./sms-spam-dataset.csv", encoding="latin1")

In [39]:
spam_dataset1

                                                  email  label
0      date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0
1     martin a posted tassos papadopoulos the greek ...      0
2     man threatens explosion in moscow thursday aug...      0
3     klez the virus that won t die already the most...      0
4      in adding cream to spaghetti carbonara which ...      0
...                                                 ...    ...
2995   abc s good morning america ranks it the NUMBE...      1
2996   hyperlink hyperlink hyperlink let mortgage le...      1
2997   thank you for shopping with us gifts for all ...      1
2998   the famous ebay marketing e course learn to s...      1
2999   hello this is chinese traditional å­ ä»¶ NUM...      1

[3000 rows x 2 columns]

In [40]:
spam_dataset2

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [41]:
def preprocess(email, sms):
    # Preprocess Email DataFrame
    email.rename(columns={"email": "message", "label": "spam"}, inplace=True)
    email['message_type'] = 'email'

    # Preprocess SMS DataFrame
    sms.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis=1, inplace=True)
    sms.rename(columns={"v1": "spam", "v2": "message"}, inplace=True)
    sms["spam"] = sms["spam"].map({"ham": 0, "spam": 1})
    sms['message_type'] = 'sms'

    # Combine the two DataFrames
    df = pd.concat([email, sms], axis=0, ignore_index=True)

    # Shuffle the combined DataFrame
    df = df.sample(frac=1, random_state=42).reset_index(drop=True)

    # Rearrange the columns
    df = df[["message", "message_type", "spam"]]

    return df

In [42]:
df = preprocess(spam_dataset1, spam_dataset2)
df

                                                message message_type  spam
0     clearly it is us nato sun ibm oss ussr ms wher...        email     0
1      URL additional comments from felicity URL NUM...        email     0
2     URGENT We are trying to contact you Last weeke...          sms     1
3                    Two teams waiting for some players          sms     0
4     Dis is yijue. I jus saw ur mail. In case huimi...          sms     0
...                                                 ...          ...   ...
8567   Can you do a mag meeting this avo at some point?          sms     0
8568  Thankyou so much for the call. I appreciate yo...          sms     0
8569  First has she gained more than  &lt;#&gt; kg s...          sms     0
8570   begin forwarded text date thu NUMBER oct NUMB...        email     0
8571  Natalja (25/F) is inviting you to be her frien...          sms     1

[8572 rows x 3 columns]

In [43]:
df.to_csv("spam-email+sms-dataset.csv", index=False)