In [6]:
# Importing
import pandas as pd
import numpy as np
from pycaret.classification import *


pd.set_option("display.max_columns", None)


df = pd.read_csv("./wine-training.csv")

In [7]:
def preprocess(df):
    return df

In [8]:
df = preprocess(df)

In [9]:
setup = setup(df, target="wine")

In [10]:
best = compare_models()

In [11]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [12]:
print(best)

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, positive=False, random_state=6480, solver='auto',
                tol=0.0001)