In [2]:
# Importing
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

pd.set_option("display.max_columns", None)


df = pd.read_csv(
    "./energy-training.csv")

In [3]:
df

,Year,Month,Day,Hours,Minutes,Time-since-start,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016,5,10,14,50,17267,60,0,25.200000,47.126667,25.600000,43.900000,26.7000,42.090000,25.500000,44.790000,23.963333,49.900000,23.890000,6.823333,24.890000,44.500000,25.29,48.200000,24.100000,47.525714,18.800,750.150000,78.000000,4.500000,40.000000,14.800,41.358725,41.358725
1,2016,5,4,21,50,16445,60,0,23.390000,33.790000,21.856667,33.500000,23.1000,35.500000,23.000000,33.000000,21.100000,40.663333,8.926667,7.963333,22.412000,33.376000,25.00,37.898571,20.390000,34.463333,10.900,764.283333,57.333333,3.000000,40.000000,2.770,9.024852,9.024852
2,2016,3,16,20,20,9380,140,20,22.600000,37.360000,20.200000,37.693333,23.6000,35.826667,21.790000,33.826667,18.700000,44.200000,5.060000,24.733333,20.230000,25.000000,23.60,33.530000,19.600000,36.200000,5.270,765.200000,62.000000,5.666667,23.333333,-1.500,49.291757,49.291757
3,2016,3,19,2,30,9705,50,0,21.790000,36.760000,19.000000,39.790000,21.7900,36.500000,20.066667,34.966667,18.390000,46.790000,5.123333,66.800000,19.633333,31.133333,22.29,43.090000,19.700000,39.560000,4.700,762.300000,92.000000,3.500000,62.500000,3.500,0.102888,0.102888
4,2016,3,11,5,40,8572,50,0,20.500000,36.200000,16.790000,41.560000,20.3900,37.145000,19.890000,34.000000,17.790000,49.966667,0.233333,70.393333,19.472500,35.475000,21.00,43.000000,18.166667,41.090000,-0.767,763.600000,93.666667,1.333333,33.000000,-1.700,8.882974,8.882974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13895,2016,3,30,8,10,11323,110,0,21.500000,40.500000,19.000000,44.090000,22.5000,38.290000,20.790000,39.590000,20.200000,49.266667,8.445000,44.645000,20.926667,37.000000,23.29,44.163333,20.356667,41.200000,7.550,751.683333,82.333333,4.000000,40.000000,4.650,37.772855,37.772855
13896,2016,4,15,16,30,13677,80,0,22.700000,39.290000,21.790000,38.060000,24.1000,36.790000,22.500000,38.345000,20.790000,44.090000,17.260000,4.196667,22.100000,32.500000,23.16,40.400000,20.890000,42.730000,15.500,746.850000,51.833333,8.833333,30.000000,5.580,27.577899,27.577899
13897,2016,3,10,15,40,8488,60,0,21.066667,36.290000,20.100000,35.400000,20.6000,36.466667,21.600000,33.560000,17.700000,45.260000,10.630000,20.356667,20.666667,29.230000,21.29,35.133333,18.100000,40.663333,9.830,759.333333,54.333333,1.666667,22.000000,0.967,20.786560,20.786560
13898,2016,5,20,20,0,18738,70,0,23.500000,44.326667,22.986250,42.600000,24.5000,40.730000,23.600000,42.700000,23.100000,60.176000,17.733333,4.530000,23.100000,39.536000,23.39,45.590000,22.600000,43.790000,17.300,758.100000,56.000000,4.000000,40.000000,8.500,6.127469,6.127469
13899,2016,2,19,20,20,5636,50,0,20.500000,37.090000,18.700000,38.000000,21.7675,36.200000,18.730000,36.200000,17.200000,45.038571,3.022500,75.950000,18.600000,30.125000,20.29,37.200000,17.790000,40.714000,4.200,759.366667,80.000000,4.666667,40.000000,0.933,25.011235,25.011235

In [4]:
columns = df.columns.tolist()


def display_columns(columns):
    for column in columns:
        print(column)


print(f"COLUMNS: \n---------------")
display_columns(columns)
print(f"---------------\n")

COLUMNS:
---------------
Year
Month
Day
Hours
Minutes
Time-since-start
Appliances
lights
T1
RH_1
T2
RH_2
T3
RH_3
T4
RH_4
T5
RH_5
T6
RH_6
T7
RH_7
T8
RH_8
T9
RH_9
T_out
Press_mm_hg
RH_out
Windspeed
Visibility
Tdewpoint
rv1
rv2
---------------

In [5]:
data_types = df.dtypes
print(f"DATA TYPES: \n---------------\n {data_types}")
print(f"---------------\n")

DATA TYPES:
---------------
 Year                  int64
Month                 int64
Day                   int64
Hours                 int64
Minutes               int64
Time-since-start      int64
Appliances            int64
lights                int64
T1                  float64
RH_1                float64
T2                  float64
RH_2                float64
T3                  float64
RH_3                float64
T4                  float64
RH_4                float64
T5                  float64
RH_5                float64
T6                  float64
RH_6                float64
T7                  float64
RH_7                float64
T8                  float64
RH_8                float64
T9                  float64
RH_9                float64
T_out               float64
Press_mm_hg         float64
RH_out              float64
Windspeed           float64
Visibility          float64
Tdewpoint           float64
rv1                 float64
rv2                 float64
dtype: object
---------------

In [6]:
missing_data_summary = df.isnull().sum()
print(f"MISSING DATA: \n---------------\n {missing_data_summary}")
print(f"---------------\n")

MISSING DATA:
---------------
 Year                0
Month               0
Day                 0
Hours               0
Minutes             0
Time-since-start    0
Appliances          0
lights              0
T1                  0
RH_1                0
T2                  0
RH_2                0
T3                  0
RH_3                0
T4                  0
RH_4                0
T5                  0
RH_5                0
T6                  0
RH_6                0
T7                  0
RH_7                0
T8                  0
RH_8                0
T9                  0
RH_9                0
T_out               0
Press_mm_hg         0
RH_out              0
Windspeed           0
Visibility          0
Tdewpoint           0
rv1                 0
rv2                 0
dtype: int64
---------------

In [7]:
df.describe()

,Year,Month,Day,Hours,Minutes,Time-since-start,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,13900.0,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000,13900.000000
mean,2016.0,3.105971,16.055827,11.566691,24.963309,9886.036906,97.559712,3.821583,21.700267,40.265542,20.353383,40.421874,22.278284,39.239447,20.868548,39.028984,19.604333,50.979518,7.955940,54.457611,20.280451,35.386927,22.041275,42.921857,19.496861,41.539837,7.454885,755.446790,79.643569,4.039738,38.236453,3.779156,25.052189,25.052189
std,0.0,1.339781,8.412886,6.944411,17.085846,5703.449162,102.004031,7.962416,1.610177,3.983979,2.193089,4.075098,2.004190,3.254902,2.044983,4.349596,1.848553,9.045537,6.099074,31.157693,2.111358,5.126413,1.957600,5.231119,2.018137,4.149922,5.326979,7.417877,14.946123,2.445833,11.734640,4.192853,14.483581,14.483581
min,2016.0,1.000000,1.000000,0.000000,0.000000,0.000000,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.860000,15.100000,27.660000,15.340000,29.856667,-6.010000,1.000000,15.390000,23.200000,16.306667,29.600000,14.890000,29.166667,-5.000000,729.333333,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,2016.0,2.000000,9.000000,6.000000,10.000000,4946.750000,50.000000,0.000000,20.767500,37.330390,18.823333,37.871042,20.790000,36.900000,19.518750,35.521375,18.290000,45.400000,3.663333,29.991500,18.700417,31.500000,20.790000,39.045000,18.000000,38.500000,3.700000,750.883333,70.166667,2.000000,29.000000,0.900000,12.575162,12.575162
50%,2016.0,3.000000,16.000000,12.000000,20.000000,9870.000000,60.000000,0.000000,21.600000,39.663333,20.000000,40.500000,22.100000,38.530000,20.700000,38.400000,19.390000,49.118000,7.330000,55.193333,20.033333,34.863333,22.150000,42.363333,19.390000,40.900000,6.950000,756.000000,83.500000,3.666667,40.000000,3.425000,24.966261,24.966261
75%,2016.0,4.000000,23.000000,18.000000,40.000000,14835.500000,100.000000,0.000000,22.666667,43.060000,21.533333,43.290000,23.356667,41.763571,22.100000,42.126667,20.633333,53.700000,11.257500,83.156667,21.633333,39.000000,23.390000,46.530000,20.600000,44.290000,10.400000,760.866667,91.666667,5.500000,40.000000,6.600000,37.705345,37.705345
max,2016.0,5.000000,31.000000,23.000000,50.000000,19734.000000,900.000000,70.000000,26.260000,57.663333,29.856667,56.026667,29.236000,50.163333,26.200000,51.063333,25.795000,96.321667,28.290000,99.900000,26.000000,51.400000,27.230000,58.740000,24.500000,53.090000,26.100000,772.300000,100.000000,14.000000,66.000000,15.300000,49.996530,49.996530